userFinance/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://example.com/soap/">
    
    <!-- Data Types -->
    <types>
        <xsd:schema targetNamespace="http://example.com/soap/">
            <xsd:element name="getUsersRequest" type="xsd:string"/>
            <xsd:element name="getUsersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="User" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="id" type="xsd:int"/>
                                    <xsd:element name="name" type="xsd:string"/>
                                    <xsd:element name="birthday" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="birthday" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="birthday" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="birthday" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateUserResponse" type="xsd:string"/>
            <xsd:element name="deleteUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteUserResponse" type="xsd:string"/>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="getUsersRequest">
        <part name="parameters" element="tns:getUsersRequest"/>
    </message>
    <message name="getUsersResponse">
        <part name="parameters" element="tns:getUsersResponse"/>
    </message>
    <message name="addUserRequest">
        <part name="parameters" element="tns:addUserRequest"/>
    </message>
    <message name="addUserResponse">
        <part name="parameters" element="tns:addUserResponse"/>
    </message>
    <message name="updateUserRequest">
        <part name="parameters" element="tns:updateUserRequest"/>
    </message>
    <message name="updateUserResponse">
        <part name="parameters" element="tns:updateUserResponse"/>
    </message>
    <message name="deleteUserRequest">
        <part name="parameters" element="tns:deleteUserRequest"/>
    </message>
    <message name="deleteUserResponse">
        <part name="parameters" element="tns:deleteUserResponse"/>
    </message>

    <!-- Port Type -->
    <portType name="UserFinancePortType">
        <operation name="getUsers">
            <input message="tns:getUsersRequest"/>
            <output message="tns:getUsersResponse"/>
        </operation>
        <operation name="addUser">
            <input message="tns:addUserRequest"/>
            <output message="tns:addUserResponse"/>
        </operation>
        <operation name="updateUser">
            <input message="tns:updateUserRequest"/>
            <output message="tns:updateUserResponse"/>
        </operation>
        <operation name="deleteUser">
            <input message="tns:deleteUserRequest"/>
            <output message="tns:deleteUserResponse"/>
        </operation>
    </portType>

    <!-- Binding -->
    <binding name="UserFinanceBinding" type="tns:UserFinancePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getUsers">
            <soap:operation soapAction="getUsers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addUser">
            <soap:operation soapAction="addUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateUser">
            <soap:operation soapAction="updateUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteUser">
            <soap:operation soapAction="deleteUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service -->
    <service name="UserFinanceService">
        <port name="UserFinancePort" binding="tns:UserFinanceBinding">
            <soap:address location="http://example.com/soap/"/>
        </port>
    </service>
</definitions>
