userFinance/wsdl.xml

<!-- myapp/wsdl.xml -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.com/soap/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/soap/">
    <types>
        <xsd:schema targetNamespace="http://example.com/soap/">
            <xsd:element name="getUsersRequest" type="xsd:anyType"/>
            <xsd:element name="getUsersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="User" maxOccurs="unbounded" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="id" type="xsd:int"/>
                                    <xsd:element name="name" type="xsd:string"/>
                                    <xsd:element name="birthday" type="xsd:string"/>
                                    <!-- Adicione outros campos conforme necessário -->
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="GetUsersRequest">
        <part name="parameters" element="tns:getUsersRequest"/>
    </message>
    <message name="GetUsersResponse">
        <part name="parameters" element="tns:getUsersResponse"/>
    </message>
    <portType name="MySoapServicePortType">
        <operation name="GetUsers">
            <input message="tns:GetUsersRequest"/>
            <output message="tns:GetUsersResponse"/>
        </operation>
    </portType>
    <binding name="MySoapServiceBinding" type="tns:MySoapServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetUsers">
            <soap:operation soapAction="http://example.com/soap/GetUsers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MySoapService">
        <port name="MySoapServicePort" binding="tns:MySoapServiceBinding">
            <soap:address location="http://localhost:8000/api/v1/soap/users/"/>
        </port>
    </service>
</definitions>
